<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>

<!--
인터넷에 접속하려면 Android 애플리케이션에 적절한 권한이 필요합니다.
모든 네트워크 요청은 공유 모듈에서 이루어지기 때문에 매니페스트에 인터넷 액세스 권한을 추가하는 것이 합리적입니다.
-->